* {
  box-sizing: border-box;
}

body {
  background-color: #51B6D1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  height: 90vh;
}

.container {
  width: 500px;
}

.name-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 150px auto 100px;
}

.container h1 {
  color: white;
  font-size: 2.75rem;
  text-align: center;
  font-family: 'Itim', cursive;
}

.text {
  text-align: justify;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.username {
  margin: 5px 0 10px;
  height: 40px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  padding-left: 10px;
}

.username:focus {
  outline: 0;
}

.start {
  background-color: #516CD1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
  transition: 0.2s;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.start:hover {
  background-color: #233EA0;
}

.start:focus {
  outline: 0;
}

.start:active {
  transform: scale(0.95);
}

.score {
  text-align: center;
  margin-top: 50px;
  font-family: "Ubuntu", sans-serif;
}

.score a {
  text-decoration: none;
  color: #516CD1;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.2s;
}

.score a:hover {
  color: #233EA0;
}

.error {
  display: none;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.failure {
  color: red;
  display: block;
}

.cr {
  position: fixed;
  bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}


/* Media queries */

@media (max-width: 600px) {
  body {
    height: auto;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }

  .container h1 {
    margin-top: 50px;
    font-size: 2rem;
  }

  .name-container {
    width: 100%;
    margin: 120px auto 75px;
  }
}